

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main image section */

.section1 {
    height: 100vh; /* full height of the viewport */
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.container-section1 {
    height: 100vh; /* height of the container */
    width: 100%; /* full width of the container */
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black background */
    padding-top: 200px; /* space between the text and the top of the container */

}

.image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* hide overflow */
}

.section1-image {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    z-index: -1; /* behind the text */
}

/*Buttons*/

.buttons {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 30px; /* space between the text and buttons */

}

.btn {
    padding: 12px 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    background-color: #F1E9DE; /* button background color */

}

.btn.light {
    color: #A4976B; /* text color for light button */
    background-color: #F1E9DE; /* light button background color */
    font-family: "Sweet Sans Pro Light";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;

}

.btn.dark {
    color: #F1E9DE; /* text color for dark button */
    background-color: #A4976B; /* dark button background color */
    font-family: "Sweet Sans Pro Light";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;

}

.btn:hover {
    opacity: 0.8; /* change opacity on hover */
}

.udforsk {
    display: flex;
    padding-top: 30px; /* space between the text and buttons */

}

/* Section 2 */

.section2 { 
    background-color: #8A5E2D; /* background color for section 2 */
    height: 70vh; 
    width: 100%; 
    padding: 60px 30px; 

}

.container-section2 {
    max-width: 1200px; /* max width of the container */
    height: 100%; /* full height of the container */
    margin: 0 auto; /* center the container */
    display: flex;
    flex-direction: row; /* added to align children in a row */
    align-items: center; 
    justify-content: space-between; /* added to distribute space between children */

}

.velkommen {
    width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;

}


.section2-image {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.section2-image img {
    width: 400px;
    height: auto; /* maintain aspect ratio */

}

/* Section 3 */

.section3 { 
    background-color: #F1E9DE; 
    height: 90vh; 
    width: 100%; 
    padding: 60px 40px;;
}

/* row-images */

.image-row {
    display: flex;
    gap: 20px; /* Space between images */
    justify-content: center;
    align-items: center;
    padding: 30px 0; /* Space between the text and images */
    overflow-x: auto; /* horizontal scroll */
    scroll-snap-type: x mandatory;  /* Optional: snaps to each image */
  }
  
  .image-row img {
    width: 20%;  /* or use % if you want responsiveness */
    height: 350px;
    flex: 0 0 auto;         
    scroll-snap-align: start; 
  }
