
!-- Fonts & Styles --!

body {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


section1 {
    position: relative;
    margin:0; 
    z-index: -1;
    width: auto;

    }

    h1 {
        font-family: "Shippori Mincho", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-size:48px;
        font-style: normal;
        text-decoration: none;
        color:#F1E9DE; 
    }

    h2 {
        font-family: "Shippori Mincho", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-size:20px;
        text-align: center;
        font-style: normal;
        text-decoration: none;
        color:#F1E9DE;
    }

    p {
        font-family: "Sweet Sans Pro Light", sans-serif;
        font-size: 20px;
        color:#F1E9DE;
        font-weight: 300;
        font-style: normal;

    }
    