


/* SECTION 1 */
.section-1-container {
    display: flex;
    justify-content: center;
    background-image: url('images/sandwich.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.section-1-div-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 50px; 
    

}

.section-1-div-container p {
    width:650px; 
    height: 174px;
    color:#F1E9DE; 
}

.section-1-div-container h1 {
    width:400px;     
    height: 174px;
    color:#F1E9DE;
    margin-top: 20px;
}
/* SECTION 2: MENUKORT */


.section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8A5E2D; 
    padding: 0; 
    margin:0; 
    gap:50px;
   
}

.image {
    width: 50%;
    height: 900px;
    max-width: 900px; 
    margin: 0;; 
    background-image: url('images/menukort-900h-600w.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
}

.menukort-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: Left;
    max-width: 900px; 
    margin: 0 auto; 
    width: 50%;
}

.menukort-text h1 {
    color: #F1E9DE; 
    font-size: 2.5rem; 
    margin-bottom: 20px; 
}
.menukort-text p {
    color: #F1E9DE; 
    font-size: 1.2rem; 
    line-height: 1.5; 
    margin-bottom: 20px; 
}

/* SECTION 3: Productoversigt */ 

.allergi-section {
    background-color: #F1E9DE;
    padding: 80px 30px;
    text-align: center;
    color: #6B4B31;
}

/* SECTION4: */ 

.section4 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #F1E9DE; 
}


.varmdrikke {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: left;
    background-color: #50543B; 
    width: 100%;
    padding: 0; 
    
   


  }

  .section4-image-varmdrikke{
    background-image: url('images/varmdrikke-900h-600w.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;  
    height: 900px; 
 
   

  }

  .section4-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 50%; 
  

}

.section4-text h1 {
    margin:20px; 
}

.section4-text p {
    margin:20px; 
}


.morgen {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center ;
    background-color: #8A5E2D; 
    width: 100%;
    box-sizing: border-box;
    padding: 0; 

}
.section4-image-morgen{
    background-image: url('images/morgen-900h-600w.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;  
    height: 900px; 
 
   

  }

  
.frokost {
    display: flex;
    flex-direction: row;
    justify-content: center ;
    background-color: #F1E9DE; 
    width: 100%;
    box-sizing: border-box;
    padding: 0; 

}
.section4-image-frokost{
    background-image: url('images/sandwich-900h-600w.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;  
    height: 900px; 

  }
